<div class="card">
    <div class="card-header">
        <button class="btn btn-sm btn-info mr-1"  placement="top"
                 container="body">
            <i class="fa fa-fw fa-edit" aria-hidden="true" placement="bottom"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-4">Name </label>
            <p>{{ name }}</p>
        </div>
        <div class="row">
            <label class="col-4">Phone Number </label>
            <p>{{ phoneNumber }}</p>
        </div>
        <div class="row">
            <label class="col-4">Address </label>
            <p>{{ address }}</p>
        </div>
        <div class="row">
            <label class="col-4">Occupation </label>
            <p>{{ occupation }}</p>
        </div>
        <div class="row">
            <label class="col-4">Work place contact number </label>
            <p>{{ contactNumber }}</p>
        </div>

    </div>
</div>
