#outer,#main{
    background-image: url('../../../assets/img/GS2S.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}


*[role="form"] {
    max-width: 90%;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: rgba(0,0,0,0.5) !important;
}

*[role="form"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.dropdown {
    border-radius: 4px;
    position: relative;
    margin-left: 15px;
}

.btn {
    margin-top: 20px;
}