<div id="outer">
    <div id="main">
        <div class="container">
            <form class="form-horizontal" role="form">
                <div class="header">
                    <h2>Register Form</h2>
                </div>
                <div class="form-group row">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="fullName" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="school" class="col-sm-3 control-label">School</label>
                    <div class="col-sm-9">
                        <input type="text" id="school" placeholder="School" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="grade" class="col-sm-3 control-label">Grade</label>
                    <select class="form-control col-sm-2 dropdown" id="grade">
                        <option>Grade 1</option>
                        <option>Grade 2</option>
                        <option>Grade 3</option>
                        <option>Grade 4</option>
                        <option>Grade 5</option>
                        <option>Grade 6</option>
                        <option>Grade 7</option>
                        <option>Grade 8</option>
                        <option>Grade 9</option>
                        <option>Grade 10</option>
                        <option>Grade 11</option>
                        <option>Grade 12</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="guardianName" class="col-sm-3 control-label">Guardian's Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="guardianName" placeholder="Guardian's Name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="guardianOccupation" class="col-sm-3 control-label">Guardian's Occupation</label>
                    <div class="col-sm-9">
                        <input type="guardianOccupation" id="guardianOccupation" placeholder="Guardian's Occupation" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contactNumber" class="col-sm-3 control-label">Work Place Contact Number</label>
                    <div class="col-sm-9">
                        <input type="contactNumber" id="contactNumber" placeholder="Work Place Contact Number" class="form-control">
                    </div>
                </div>
                <div class="offset-4 col-2 btn">
                    <button type="submit" class="btn btn-secondary btn-block">Cancel</button>
                </div>
                <div class="col-2 btn">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form> <!-- /form -->
        </div>
    </div>
</div>

