<div class="wrapper">
    <!-- Sidebar -->
    <app-nav-bar></app-nav-bar>
    <div class="row" >
        <nav id="sidebar">
            <!--        <div class="sidebar-header">-->
            <!--            <h3>Sidebar</h3>-->
            <!--        </div>-->

            <ul class="list-unstyled components">
                <!--            <p>Dummy Heading</p>-->
                <li class="active">
                    <a href="#">Home</a>
                    <!--                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
                    <!--                <ul class="collapse list-unstyled" id="homeSubmenu">-->
                    <!--                    <li>-->
                    <!--                        <a href="#">Home 1</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">Home 2</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#">Home 3</a>-->
                    <!--                    </li>-->
                    <!--                </ul>-->
                </li>
                <li>
                    <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
                    <ul class="collapse list-unstyled" id="studentSubmenu">
                        <li>
                            <a href="#">Details</a>
                        </li>
                        <li>
                            <a [routerLink] = "['/register']">Register</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#schoolSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Schools</a>
                    <ul class="collapse list-unstyled" id="schoolSubmenu">
                        <li>
                            <a href="#">Details</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#areaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Areas</a>
                    <ul class="collapse list-unstyled" id="areaSubmenu">
                        <li>
                            <a href="#">Details</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </nav>
<router-outlet></router-outlet>

    </div>


</div>